@import url(https://fonts.googleapis.com/css?family=Bangers);

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

svg {
  display: block;
  margin: auto;
}
